.title-block{
    border: 2px solid rgb(255, 255, 255);
    text-align: center;
    font-weight: 500;
    font-size: larger;
    background-color: #DFE3E4;
    padding-top: 10px;
    min-height: 60px;
    /* cursor: auto; */
}
.lead{
    font-weight: bolder;
}

.display-4{
    padding-top: 10px;
}
.jumbotron{
    background-color:#0071C5;
    border-bottom: solid;
}
.container{
    font-size: medium;
    font-weight: 400;
}
.row{
    display: flex;
}
.col-sm:hover{
    /* background-color: rgb(182, 181, 181); */
    cursor: pointer;
    border: 2px solid rgb(24, 1, 1);
}
.selected{
    background-color: #0C3C59;
    /* #6C24F4; */
    color: #ffffff;
    
}
#command-area:hover{
    border: 2px solid rgb(255, 255, 255);
    cursor: auto;
}
.col-sm-2{
    color: #ffffff;
    background-color: #0071C5;
    text-align: center;
}
.center {
    color: #ffffff;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
  }
img {
    width: 320px;
    height: 220px;
}
  
.blur{
-webkit-filter: blur(20px);
-moz-filter: blur(20px);
-o-filter: blur(20px);
-ms-filter: blur(20px);
filter: blur(20px);
opacity: 0.7;
background: #ccc;
    
}
body{
    font-family: Arial, sans-serif;
}
a{
    color: #368dcc;
    cursor: pointer;
    text-decoration: underline;
}